In [1]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [3]:
client = MongoClient()
db = client.Reviews
collection = db.Joker_2019

In [6]:
data = pd.DataFrame(list(collection.find()))
data.head()

,_id,index,review,polarity,subjectivity
0,5dd02d2a386edbeca7f18819,1,Excellent Performance,1.000000,1.000000
1,5dd02d2a386edbeca7f1881a,2,Joaquin should be in Oscar contention; a diffe...,0.091486,0.523611
2,5dd02d2a386edbeca7f1881b,3,"Uh. I have many, many words, but I don't have ...",0.214103,0.464103
3,5dd02d2a386edbeca7f1881c,4,A different look at the Joker from a sometimes...,0.205556,0.736111
4,5dd02d2a386edbeca7f1881d,5,Had a “killing joke” vibe that I dug. The best...,0.550000,0.650000

SyntaxError: invalid syntax (<ipython-input-4-52c5da833be5>, line 1)